<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.cs.mad.gamekobold"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlljoynTest"
            android:label="@string/title_activity_alljoyn_test"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.gamekobold.MainActivity" />
        </activity>
        <activity
            android:name=".template_generator.TemplateGeneratorActivity"
            android:label="Root"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".templatebrowser.TemplateBrowserActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".templatebrowser.CreateNewTemplateActivity" >
        </activity>
        <activity android:name=".templatebrowser.TemplateDetailsActivity" >
        </activity>
        <activity android:name=".template_generator.ShowLists" >
        </activity>
        <activity android:name=".matrix.MatrixViewActivity" >
        </activity>
        <activity android:name=".matrix.AddNewItemActivity" >
        </activity>
        <activity android:name=".matrix.TemplateGeneratorWelcomeActivity" >
        </activity>
        <activity
            android:name=".slidingmenu.TemplateGeneratorWelcomeActivity"
            android:label="@string/title_activity_template_generator_welcome" >
        </activity>
        <activity android:name=".templatebrowser.CharacterDetailsActivity" >
        </activity>
        <activity
            android:name=".game.GameBrowserActivity"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name=".game.GameDetailsActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".game.GameBrowserActivity1" >
        </activity>
        <activity
            android:name=".game.CreateNewGameActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".game.PlayCharacterActivity" >
        </activity>
        <activity android:name=".game.ToolboxActivity" >
        </activity>
        <activity android:name=".game.TimerActivity" >
        </activity>
        <activity
            android:name=".templatestore.TemplateStoreMainActivity"
            android:label="@string/title_activity_template_store_main"
            android:parentActivityName=".game.CreateNewGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.gamekobold.game.CreateNewGameActivity" />
        </activity>
    </application>


</manifest>