<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.cs.mad.gamekobold"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.fau.cs.mad.gamekobold.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.AlljoynTest"
            android:label="@string/title_activity_alljoyn_test"
            android:parentActivityName="de.fau.cs.mad.gamekobold.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.gamekobold.MainActivity" />
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.template_generator.TemplateGeneratorActivity"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.character.CharacterEditActivity"
            android:label="Root"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.templatebrowser.TemplateBrowserActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.templatebrowser.CreateNewTemplateActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.templatebrowser.TemplateDetailsActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.alljoyn.TemplateListActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.matrix.MatrixViewActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.matrix.AddNewItemActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.slidingmenu.TemplateGeneratorWelcomeActivity"
            android:label="@string/title_activity_template_generator_welcome" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.templatebrowser.CharacterDetailsActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.GameBrowserActivity"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.GameDetailsActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.CreateNewGameActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.game.PlayCharacterActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.CharacterPlayActivity"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Toolbox Activities -->
        <activity android:name="de.fau.cs.mad.gamekobold.game.ToolboxActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.ToolboxMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.game.ToolboxTimerActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.gamekobold.game.ToolboxDiceActivity"
            android:theme="@style/PopupStyle" >
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.game.ToolboxRandomListActivity" >
        </activity>

        <!--  -->

        <activity
            android:name="de.fau.cs.mad.gamekobold.templatestore.TemplateStoreMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/storesearchable" />
        </activity>
        <activity android:name="de.fau.cs.mad.gamekobold.templatebrowser.CreateNewCharacterActivity" >
        </activity>
        <activity
            android:name=".characterbrowser.CharacterBrowserActivity"
            android:label="@string/title_activity_character_browser" >
        </activity>
        <activity android:name="MainMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GameMenu" >
        </activity>
        <activity android:name="CharacterMenu" >
        </activity>
        <activity android:name="TemplateMenu" >
        </activity>
        <activity android:name="DownloadTemplateMenu" >
        </activity>
    </application>

</manifest>