<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.cs.mad.rpgpack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.fau.cs.mad.rpgpack.AlljoynTest"
            android:label="@string/title_activity_alljoyn_test"
            android:parentActivityName="de.fau.cs.mad.rpgpack.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.rpgpack.MainActivity" />
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.template_generator.TemplateGeneratorActivity"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.alljoyn.Service"
            android:label="@string/title_activity_alljoyn_template_service"
            android:parentActivityName="de.fau.cs.mad.rpgpack.alljoyn.TemplateListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.rpgpack.alljoyn.TemplateListActivity" />
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.character.CharacterEditActivity"
            android:label="Root"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.templatebrowser.TemplateBrowserActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.templatebrowser.CreateNewTemplateActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.alljoyn.TemplateListActivity" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.matrix.AddNewItemActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.slidingmenu.TemplateGeneratorWelcomeActivity"
            android:label="@string/title_activity_template_generator_welcome" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.templatebrowser.CharacterDetailsActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.game.GameBrowserActivity"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.game.GameDetailsActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.game.CreateNewGameActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.game.CharacterPlayActivity"
            android:theme="@style/template_generator_style"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Toolbox Activities -->
        <activity android:name="de.fau.cs.mad.rpgpack.toolbox.MenuActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.toolbox.MapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.toolbox.TimerActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.toolbox.DiceActivity"
            android:theme="@style/PopupStyle" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.toolbox.RandomListActivity" >
        </activity>

        <!--  -->

        <activity
            android:name="de.fau.cs.mad.rpgpack.templatestore.TemplateStoreMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/storesearchable" />
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.templatebrowser.CreateNewCharacterActivity" >
        </activity>
        <activity
            android:name="de.fau.cs.mad.rpgpack.characterbrowser.CharacterBrowserActivity"
            android:label="@string/title_activity_character_browser" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.MainMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.GameMenu" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.CharacterMenu" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.TemplateMenu" >
        </activity>
        <activity android:name="de.fau.cs.mad.rpgpack.DownloadTemplateMenu" >
        </activity>
    </application>

</manifest>